body {
    background-color: rgba(4, 1, 18, 0.904);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1{ 
    display: flex;
    font-size: 40px;
    border: 4px solid purple;
    min-height: 50px;
    align-items: flex-start;
    justify-content: left; /* for x axis center */  
}

input[type="file"] {
    margin-bottom: 20px;
}
audio {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}
label {
    margin-top: 10px;
}